* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer,
.main {
  padding: 0 10%;
}

.header {
  padding: 16px;
  background-color: #1f2937;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.header ul {
  list-style: none;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7e8;
}

.navbar {
  display: flex;
  gap: 16px;
}

.main {
  flex: 1;
}